button {
  border: none;
  background-color: #4e75ff;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  font-style: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 4%;
  color: floralwhite;
}

.text-search {
  font-style: Montserrat;
  width: 272px;
  height: 36px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #808080;
  border-color: #bababa;
  padding: 0px 16px;
}
.form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  /* margin-bottom: 0px; */
  margin: auto;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.gallery-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-group {
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: center;
  gap: 20px;
}

.sl-image {
  border-radius: 2px;
  box-shadow: 2px 2px 10px rgba(20, 16, 16, 0.438);
}

.gallery-subtitle {
  font-size: 12px;
  font-weight: 600;
}

.gallery-txt {
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
}

.gallery-image {
  width: 280px;
  height: 187px;
  border-radius: 2px;
  box-shadow: 2px 2px 10px rgba(20, 16, 16, 0.438);
}

.gallery-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

input {
  border: 0.5px solid #595858;
  border-radius: 4px;
  height: 33px;
  font-style: 16px;
  padding-left: 10px;
}

input {
  outline: none;
}

input:hover,
textarea:hover {
  border: 0.5px solid #3e0bd8;
}

button:hover {
  background-color: #3659e3;
}

.hidden {
  display: none;
}

.loader-text {
  margin-block: 48px;
  text-align: center;
  margin: 20px;
}

.photo-card {
  width: 250px;
  border: 1.5px solid indigo;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(133, 97, 97, 0.1);
  background-color: #fff;
}

.photo-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info {
  padding: 10px;
  font-size: 16px;
  color: indigo;
}
